<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eunan.tracey.etimefinalyearproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".ETime"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".History.DisplayInvoiceHistory"></activity>
        <activity android:name=".History.HistoryEmployerTS" />
        <activity android:name=".History.EmployerInvoiceHistory" />
        <activity android:name=".History.EmployerTimeSheetHist" />
        <activity android:name=".about.About" />
        <activity
            android:name=".recovery.PasswordRecovery"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".History.HistoryInvoice"
            android:parentActivityName=".employee.EmployeeProfileActivity" />
        <activity
            android:name=".invoice.EmployerInvoiceActivity"
            android:parentActivityName=".employee.EmployeeProfileActivity" />
        <activity android:name=".employer.EmpImage" />
        <activity
            android:name=".upload.UploadActivity"
            android:parentActivityName=".employee.EmployeeProfileActivity" />

        <service android:name=".project.ProjectMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".timesheet.TimeSheetMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".main.MainActivity"
            android:icon="@drawable/timesheet"
            android:label="ETime">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register.RegisterActivity"
            android:label="@string/register_title" />
        <activity
            android:name=".user.UserProfileActivity"
            android:label="@string/register_title" />
        <activity
            android:name=".employee.EmployeeProfileActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".employer.EmployerProfileActivity" />
        <activity
            android:name=".project.ProjectActivity"
            android:parentActivityName=".employee.EmployeeProfileActivity" />
        <activity android:name=".settings.SettingsActivity" />
        <activity
            android:name=".status.StatusActivity"
            android:parentActivityName=".settings.SettingsActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".user.UsersActivity" />
        <activity
            android:name=".profile.ProfileActivity"
            android:parentActivityName=".user.UsersActivity">
            <intent-filter>
                <action android:name="com.eunan.tracey.etimefinalyearproject_TARGET_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".employer.EmployerTimeSheetActivity"
            android:parentActivityName=".employee.EmployeeProfileActivity">
            <intent-filter>
                <action android:name="com.eunan.tracey.etimefinalyearproject_TIMESHEET_TARGET_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/ts_notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/ts_notification_channel_id" />

        <activity android:name=".salary.SalaryActivity" />
        <activity android:name=".timesheet.TimeSheetBuilder" />
        <activity
            android:name=".project.MaintainProject"
            android:parentActivityName=".employer.EmployerProfileActivity" />
        <activity
            android:name=".project.AddEmployeeActivity"
            android:parentActivityName=".employer.EmployerProfileActivity" />
        <activity
            android:name=".History.HistoryTimesheet"
            android:parentActivityName=".employee.EmployeeProfileActivity" />
        <activity
            android:name=".History.DisplayHistoryEmployee"
            android:parentActivityName=".employer.EmployerProfileActivity" />
    </application>

</manifest>